@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap&subset=latin-ext');
@import "modules/hero.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/contact.scss";
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    @media (max-width: $mobile) {
        font-size: 11px;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: $bigstone;
    background: #FFF;
    font-family: 'Poppins', sans-serif;
    border: 16px solid $bigstone;
    @media (max-width: $mobile) {
        border: none;
    }
}

.container {
    max-width: 1216px;
    padding: 0 16px;
    margin: 0 auto;
}